USE [master]
GO
/****** Object:  Database [Chaldeas]    Script Date: 22/01/2026 09:57:55 ******/
CREATE DATABASE [Chaldeas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RX104FFPenelope', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RX104FFPenelope.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RX104FFPenelope_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RX104FFPenelope_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Chaldeas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Chaldeas]
GO
/****** Object:  User [ArchetypeInception]    Script Date: 22/01/2026 09:57:56 ******/
CREATE USER [ArchetypeInception] FOR LOGIN [ArchetypeInception] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ArchetypeInception]
GO
/****** Object:  Table [dbo].[flow_sensor_data]    Script Date: 22/01/2026 09:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flow_sensor_data](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[device_id] [varchar](20) NOT NULL,
	[location] [varchar](100) NULL,
	[flow_rate] [float] NULL,
	[total_volume] [float] NULL,
	[power] [float] NULL,
	[voltage] [float] NULL,
	[current_amps] [float] NULL,
	[energy] [float] NULL,
	[frequency] [float] NULL,
	[power_factor] [float] NULL,
	[sensor_time] [datetime] NULL,
	[server_time] [datetime] NULL,
	[mqtt_topic] [varchar](150) NULL,
	[created_at] [datetime] NULL,
	[daily_volume] [float] NULL,
	[last_reset_date] [varchar](20) NULL,
	[daily_reset_pending] [bit] NULL,
	[device_status] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_daily_volume]    Script Date: 22/01/2026 09:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_daily_volume] AS
SELECT
    device_id,
    CAST(sensor_time AS DATE) AS date,
    MAX(volume) - MIN(volume) AS volume_today
FROM dbo.flow_sensor_data
GROUP BY device_id, CAST(sensor_time AS DATE);
GO
/****** Object:  Index [idx_flow_sensor_time]    Script Date: 22/01/2026 09:57:56 ******/
CREATE NONCLUSTERED INDEX [idx_flow_sensor_time] ON [dbo].[flow_sensor_data]
(
	[sensor_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[flow_sensor_data] ADD  DEFAULT (getdate()) FOR [created_at]
GO
USE [master]
GO
